@inherits LayoutComponentBase

<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom mb-3">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="/">
            <i class="bi bi-lightning-charge-fill text-warning"></i> FHIR Augury Dev UI
        </a>
        <NavMenu />
    </div>
</nav>

<main class="container-fluid px-4">
    @Body
</main>
